Aron Ahmadia <aron@ahmadia.net>
Matthew Aiello-Lammens <matt.lammens@gmail.com>
Joshua Ainsley <jainsley@gmail.com>
James Allen <jamesallen0108@gmail.com>
Areej Alsheikh-Hussain <areej.alsheikh@gmail.com>
Paula Andrea <orchid00@users.noreply.github.com>
Jeffrey Arnold <jeffrey.arnold@gmail.com>
Alex Bajcz <Bajcz475@gmail.com>
Piotr Banaszkiewicz <piotr@banaszkiewicz.org>
Diego Barneche <diego.barneche@ymail.com>
Greg Bass <gbass@student.unimelb.edu.au>
Trevor Bekolay <tbekolay@gmail.com>
Mik Black <blackmik@gmail.com>
John Blischak <jdblischak@gmail.com>
Andy Boughton <abought@gmail.com> <pchemist@gmail.com>
Karl Broman <kbroman@gmail.com>
Eric Bruger <brugerer@msu.edu>
Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com> <abigail.cabunoc@oicr.on.ca>
Scott Chamberlain <myrmecocystus@gmail.com>
Daniel Chen <Maveri2k@yahoo.com>
Harriet Dashnow <h.dashnow@gmail.com>
Matt Dickenson <matt.dickenson@ibotta.com>
Alastair Droop <alastair.droop@gmail.com>
Jonah Duckles <jonah@duckles.org>
Rémi Emonet <remi@heeere.com> <remi.emonet@univ-st-etienne.fr>
Marianna Foos <marianna.foos@gmail.com>
Auriel Fournier <aurielfournier@gmail.com>
David Fredman <davfre@gmail.com>
Javier García-Algarra <ghostdatalearner@ghostmail.com>
Noushin Ghaffari <nghaffari@tamu.edu> <noushin@noushins-mbp.attlocal.net>
Heather Gibling <heathergibling@gmail.com>
Jeremy Gray <jeremycgray@gmail.com>
Jessica Guo <jsguo@asu.edu>
Melissa Guzman <guzman@zoology.ubc.ca>
Denis Haine <denis.haine@gmail.com>
Michael Hansen <hansen.mike@gmail.com>
Fabian Held <fabian.held@sydney.edu.au>
Donna Henderson <dch0627@gmail.com>
James Hiebert <james@hiebert.name>
Jeff Hollister <jeff.w.hollister@gmail.com>
Mike Jackson <michaelj@epcc.ed.ac.uk>
Elsie Jacobson <e.jacobson@auckland.ac.nz>
W. Trevor King <wking@tremily.us>
Michael Levy <malevy@ucdavis.edu>
Mark Mandel <mandel01@users.noreply.github.com>
Carlos Martinez <c.martinez@esciencecenter.nl>
Ben Marwick <benmarwick@hotmail.com>
François Michonneau <francois.michonneau@gmail.com>
James Mickley <mickley@gmail.com>
Eric Milliman <emilliman4@gmail.com>
Bill Mills <mills.wj@gmail.com>
Joaquin Moris <joaquin.moris+github@gmail.com>
Hani Nakhoul <hnakhoul@tulane.edu>
Matthias Nilsson <matthias@baktus.se>
Aaron O'Leary <aaron.oleary@gmail.com>
Frank Pennekamp <pennekampster@gmail.com>
Raissa Philibert <raissaphilibert@Ricecakes.local>
Jon Pipitone <jon.pipitone@utoronto.ca>
Timothée Poisot <tim@poisotlab.io>
Louis Ranjard <louis.ranjard@gmail.com>
Joey Reid <reid0058@umn.edu>
Scott Ritchie <sritchie73@gmail.com>
Natalie Robinson <n.robinson@colorado.edu>
Michael Sachs <sachsmc@users.noreply.github.com>
Pat Schloss <pschloss@umich.edu>
Peter Schmiedeskamp <peter@thoughtspot.net>
Beth Signal <b.signal@garvan.org.au>
Raniere Silva <ra092767@ime.unicamp.br> <raniere@ime.unicamp.br> <raniere@rgaiacs.com>
Gavin Simpson <ucfagls@gmail.com>
Karthik Srinivasan <kartucson@gmail.com>
Joseph Stachelek <jstachelek@utexas.edu>
Valentina Staneva <val_is_everywhere@yahoo.com>
Sarah Stevens <sstevens2@wisc.edu>
Michael Sumner <mdsumner@gmail.com>
Sarah Supp <sarah@weecology.org>
Andy Teucher <Andy.Teucher@gmail.com>
Daniel Turek <macgyver08@gmail.com>
Stephen Turner <vustephen@gmail.com>
Lukas Weber <lukmweber@gmail.com>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
Kara Woo <woo.kara@gmail.com>
Tom Wright <tom@maladmin.com>
Naupaka Zimmerman <naupaka@gmail.com>
