Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com>
Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com> <abigail.cabunoc@oicr.on.ca>
Alisa Postma <alisa.postma@gmail.com> <alisapostma@Alisas-MacBook-Air.local>
Andy Teucher <andy.teucher@gmail.com> <Andy.Teucher@gmail.com>
Areej Alsheikh-Hussain <areej.alsheikh@gmail.com>
Beth Signal <b.signal@garvan.org.au>
Daniel Turek <macgyver08@gmail.com>
Diego Barneche <diego.barneche@ymail.com>
Donna Henderson <dch0627@gmail.com>
Eric Bruger <brugerer@msu.edu>
Eric Milliman <emilliman4@gmail.com>
Erin Becker <erinstellabecker@gmail.com>
Evan P. Williamson <evanpeterw@gmail.com>
Fabian Held <fabian.held@sydney.edu.au>
Félix-Antoine Fortin <felix.antoine.fortin@gmail.com> <felix-antoine.fortin@calculquebec.ca>
François Michonneau <francois.michonneau@gmail.com>
François Michonneau <francois.michonneau@gmail.com> <francois.michonneau@gmail.Com>
Ge Baolai <gebaolai@gmail.com>
Greg Bass <gbass@users.noreply.github.com>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
James Allen <james@sharelatex.com> <jamesallen0108@gmail.com>
Javier García-Algarra <ghostdatalearner@ghostmail.com>
Jeffrey Arnold <jeffrey.arnold@gmail.com>
Joaquin Moris <joaquin.moris+github@gmail.com>
Joseph Stachelek <jstachelek@utexas.edu>
Kara Woo <woo.kara@gmail.com>
Karthik Srinivasan <kartucson@gmail.com>
Louis Ranjard <louis.ranjard@gmail.com>
Maxim Belkin <maxim.belkin@gmail.com> <maxim-belkin@users.noreply.github.com>
Melissa Guzman <guzman@zoology.ubc.ca>
Michael Sumner <mdsumner@gmail.com>
Mik Black <blackmik@gmail.com>
Mike Jackson <m.jackson@software.ac.uk> <michaelj@epcc.ed.ac.uk>
Natalie Robinson <n.robinson@colorado.edu>
Nicholas Knoblauch <nwknoblauch@gmail.com>
Noushin Ghaffari <nghaffari@tamu.edu>
Noushin Ghaffari <nghaffari@tamu.edu> <noushin@noushins-mbp.attlocal.net>
Raniere Silva <raniere@rgaiacs.com> <ra092767@ime.unicamp.br>
Raniere Silva <raniere@rgaiacs.com> <raniere@ime.unicamp.br>
Rémi Emonet <remi@heeere.com> <remi.emonet@reverse--com.heeere>
Rémi Emonet <remi@heeere.com> <twitwi@users.noreply.github.com>
Sarah Stevens <ssteven2@wisc.edu> <sstevens2@wisc.edu>
Sarah Supp <sarah@weecology.org>
Scott Chamberlain <myrmecocystus@gmail.com>
Shawn T. O'Neil <oneilsh@gmail.com>
Timothée Poisot <t.poisot@gmail.com> <tim@poisotlab.io>
Valentina Staneva <val_is_everywhere@yahoo.com>
zz-lkmills <lkmills@users.noreply.github.com>
zz-txemarix007 <txemarix007@gmail.com>
