<p><img alt="Variables as Sticky Notes" src="../fig/python-sticky-note-variables-01.svg" /></p>
<hr/>
<p><img alt="Creating Another Variable" src="../fig/python-sticky-note-variables-02.svg" /></p>
<hr/>
<p><img alt="Updating a Variable" src="../fig/python-sticky-note-variables-03.svg" /></p>
<hr/>
<p><img alt="Operations Across Axes" src="../fig/r-operations-across-margins.svg" /></p>
<hr/>
<p><img alt="plot of chunk plot-avg-inflammation" src="../fig/rmd-01-starting-with-data-plot-avg-inflammation-1.png" /></p>
<hr/>
<p><img alt="plot of chunk plot-max-inflammation" src="../fig/rmd-01-starting-with-data-plot-max-inflammation-1.png" /></p>
<hr/>
<p><img alt="plot of chunk plot-min-inflammation" src="../fig/rmd-01-starting-with-data-plot-min-inflammation-1.png" /></p>
<hr/>
<p><img alt="plot of chunk inflammation-01" src="../fig/rmd-03-loops-R-inflammation-01-1.png" /></p>
<hr/>
<p><img alt="plot of chunk inflammation-01" src="../fig/rmd-03-loops-R-inflammation-01-2.png" /></p>
<hr/>
<p><img alt="plot of chunk inflammation-01" src="../fig/rmd-03-loops-R-inflammation-01-3.png" /></p>
<hr/>
<p><img alt="plot of chunk inflammation-02" src="../fig/rmd-03-loops-R-inflammation-02-1.png" /></p>
<hr/>
<p><img alt="plot of chunk inflammation-02" src="../fig/rmd-03-loops-R-inflammation-02-2.png" /></p>
<hr/>
<p><img alt="plot of chunk inflammation-02" src="../fig/rmd-03-loops-R-inflammation-02-3.png" /></p>
<hr/>
<p><img alt="plot of chunk loop-analyze" src="../fig/rmd-03-loops-R-loop-analyze-1.png" /></p>
<hr/>
<p><img alt="plot of chunk loop-analyze" src="../fig/rmd-03-loops-R-loop-analyze-2.png" /></p>
<hr/>
<p><img alt="plot of chunk loop-analyze" src="../fig/rmd-03-loops-R-loop-analyze-3.png" /></p>
<hr/>
<p><img alt="plot of chunk loop-analyze" src="../fig/rmd-03-loops-R-loop-analyze-4.png" /></p>
<hr/>
<p><img alt="plot of chunk loop-analyze" src="../fig/rmd-03-loops-R-loop-analyze-5.png" /></p>
<hr/>
<p><img alt="plot of chunk loop-analyze" src="../fig/rmd-03-loops-R-loop-analyze-6.png" /></p>
<hr/>
<p><img alt="plot of chunk loop-analyze" src="../fig/rmd-03-loops-R-loop-analyze-7.png" /></p>
<hr/>
<p><img alt="plot of chunk loop-analyze" src="../fig/rmd-03-loops-R-loop-analyze-8.png" /></p>
<hr/>
<p><img alt="plot of chunk loop-analyze" src="../fig/rmd-03-loops-R-loop-analyze-9.png" /></p>
<hr/>
<p><img alt="Executing a Conditional" src="../fig/python-flowchart-conditional.svg" /></p>
<hr/>
<p><img alt="plot of chunk using-conditions-01" src="../fig/rmd-04-cond-using-conditions-01-1.png" /></p>
<hr/>
<p><img alt="plot of chunk using-conditions-01" src="../fig/rmd-04-cond-using-conditions-01-2.png" /></p>
<hr/>
<p><img alt="plot of chunk conditional-challenge-hist" src="../fig/rmd-04-cond-conditional-challenge-hist-1.png" /></p>
<hr/>
<p><img alt="plot of chunk conditional-challenge-hist" src="../fig/rmd-04-cond-conditional-challenge-hist-2.png" /></p>
<hr/>
<p><img alt="plot of chunk conditional-challenge-hist" src="../fig/rmd-04-cond-conditional-challenge-hist-3.png" /></p>
<hr/>
<p><img alt="plot of chunk inflammation-01" src="../fig/rmd-04-cond-inflammation-01-1.png" /></p>
<hr/>
<p><img alt="plot of chunk inflammation-01" src="../fig/rmd-04-cond-inflammation-01-2.png" /></p>
<hr/>
<p><img alt="plot of chunk inflammation-01" src="../fig/rmd-04-cond-inflammation-01-3.png" /></p>
<hr/>
<p><img alt="plot of chunk logical_vectors_indexing2" src="../fig/rmd-10-supp-addressing-data-logical_vectors_indexing2" /></p>
<hr/>
<p><img alt="csv written without row.names argument" src="../fig/01-supp-csv-with-row-nums.png" /></p>
<hr/>
<p><img alt="csv written with row.names argument" src="../fig/01-supp-csv-without-row-nums.png" /></p>
<hr/>
<p><img alt="csv written with -9999 as NA" src="../fig/01-supp-csv-with-special-NA.png" /></p>
<hr/>
<p><img alt="plot of chunk reordering-factors" src="../fig/rmd-12-supp-factors-reordering-factors-1.png" /></p>
<hr/>
<p><img alt="plot of chunk gender-counts" src="../fig/rmd-12-supp-factors-gender-counts-1.png" /></p>
<hr/>
<p><img alt="plot of chunk updating-factors" src="../fig/rmd-12-supp-factors-updating-factors-1.png" /></p>
<hr/>
<p><img alt="plot of chunk dropping-levels" src="../fig/rmd-12-supp-factors-dropping-levels-1.png" /></p>
<hr/>
<p><img alt="plot of chunk adjusting-levels" src="../fig/rmd-12-supp-factors-adjusting-levels-1.png" /></p>
<hr/>
<p><img alt="Call Stack (Initial State)" src="../fig/python-call-stack-01.svg" /></p>
<hr/>
<p><img alt="Call Stack Immediately After First Function Call" src="../fig/python-call-stack-02.svg" /></p>
<hr/>
<p><img alt="Call Stack During First Nested Function Call" src="../fig/python-call-stack-03.svg" /></p>
<hr/>
<p><img alt="Call Stack After Return From First Nested Function Call" src="../fig/python-call-stack-04.svg" /></p>
<hr/>
<p><img alt="Call Stack During Call to Second Nested Function" src="../fig/python-call-stack-05.svg" /></p>
<hr/>
<p><img alt="Call Stack After Second Nested Function Returns" src="../fig/python-call-stack-06.svg" /></p>
<hr/>
<p><img alt="Call Stack After All Functions Have Finished" src="../fig/python-call-stack-07.svg" /></p>
